# Docker Compose — MySQL (lms-mysql)
MYSQL_HOST=localhost
MYSQL_PORT=3310
MYSQL_DATABASE=lms-backend
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=mysql-password

# Docker Compose — Redis (lms-redis)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=redis-password

# Docker Compose — RabbitMQ (lms-rabbitmq)
# Management UI: http://localhost:15672
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq-user
RABBITMQ_PASS=rabbitmq-password
