# Server
IS_PRODUCTION=false
HOST=0.0.0.0
PORT=8080

# MySQL
DATABASE_URL=root:mysql-password@tcp(localhost:3310)/lms-backend?parseTime=True

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASS=redis-password

# Elasticsearch
ELASTIC_ADDRS=http://localhost:9200
ELASTIC_USER=
ELASTIC_PASSWORD=
ELASTIC_CERT_FINGERPRINT=

# RabbitMQ
RABBIT_MQ_URL=amqp://rabbitmq-user:rabbitmq-password@localhost:5672/

# JWT
SECRET_ACCESS_TOKEN=access-token-secret
EXPIRES_AT_ACCESS_TOKEN=1h

SECRET_REFRESH_TOKEN=refresh-token-secret
EXPIRES_AT_REFRESH_TOKEN=24h
