# MySQL
DATABASE_URL=root:mysql-password@tcp(localhost:3310)/lms-backend?parseTime=True

# Elasticsearch
ELASTIC_ADDRS=http://localhost:9200
ELASTIC_USER=
ELASTIC_PASSWORD=
ELASTIC_CERT_FINGERPRINT=

# RabbitMQ
RABBIT_MQ_URL=amqp://rabbitmq-user:rabbitmq-password@localhost:5672/
