DATABASE_URL=root:password@tcp(localhost:3306)/lms?parseTime=True

ELASTIC_ADDRS=http://localhost:9200
ELASTIC_USER=
ELASTIC_PASSWORD=
ELASTIC_CERT_FINGERPRINT=

RABBIT_MQ_URL=amqp://user:password@localhost:5672/
